<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="rkeeofufwkddls" />
		<meta name="keywords" content="rkdeofuf dwitter it's 6:17 22/2 now" />
		<meta
			name="description"
			content="practicing css by recaping what I wrote beforeq that's so terribly boring to me"
		/>
		<link rel="stylesheet" href="src/css/reset.css" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
		<link rel="stylesheet" href="src/css/header.css" />
		<title>Document</title>
	</head>
	<body>
		<%- include("includes/header"); %>
		<div class="makingcomment">
			<form class="commment__form" method="post" action="/comment" >
				<input type="text" id="comment" name="comment" placeholder="=Comment" required />
				<input type="submit" value="Submit!" />
			</form>
		</div>
		<div class="comments">
			<div class="comments">
				<% Object.keys(comments).forEach(key => { %>
					<div class="comment">
						<div class="comment__left">
							<img class="comment__profile" src=<%= comments[`${key}`].profile %> alt="profile">
						</div>
						<div class="comment__right">
							<div class="comment__top">
								<span class="comment__nickname">nickName: <%= comments[`${key}`].nickname %></span>
								<span class="comment__userid">id_<%= comments[`${key}`].ownerId %></span>
								<span class="comment__createat">createAt:<%= comments[`${key}`].createAt %></span>
							</div>
							<div class="comment__bottom">
								<span class="comment__content"><%= comments[`${key}`].content %></span>
							</div>
						</div>
						<% if(user?.id === comments[`${key}`].ownerId) { %>
							<div class="comment__delete"><a href=<%=`/delete/${key}`%>>DELETE</a></div>
							<div class="comment__edit">EDIT</div>
						<% } %>
					</div>
					<% }); %>
				</div>
		</div>
		<h1>hello world</h1>
	</body>
</html>
